/* ===== Fonts ===== */

@font-face {
  font-family: "Frankfurter";
  src: url(resource:FrankfurterStdRegularSDF);
}

/* ===== Mixins ===== */

@mixin flex-layout($direction) {
  display: flex;
  flex-direction: $direction;
}

/* ===== Variables ===== */

$crosshair-color-faint: rgba(255, 255, 255, 0.1);
$crosshair-color: rgba(255, 255, 255, 0.5);
$crosshair-width: 4px;
$crosshair-length: 20px;
$crosshair-length-horizontal: 28px;
$crosshair-center-offset: 62px;

$hp-color-faint: rgba(255, 255, 255, 0.1);
$hp-color: white;

/* ===== Common ===== */

* {
  font-family: "Frankfurter";
}

.padding-md {
  padding: 12px;
}

.padding-lg {
  padding: 24px;
}

.spacer {
  flex-grow: 1;
}

.flex-column {
  @include flex-layout(column);
}

.flex-row {
  @include flex-layout(row);
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

/* ===== Components ===== */

.button {
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;

  font-size: 64px;
  color: white;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: transparent;
  border-radius: 48px;

  &:active {
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.1);
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.1);
  }
}

.score {
    color: white;
    font-size: 24px;

    &.text {
        padding-right: 20px;
    }
}

/* ===== Debug UI ===== */
.debug-ui {
  @include flex-layout(column);
  padding: 6px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;

  .footer {
    display: flex;
    flex-direction: row;
  }

  .text {
    color: white;
    font-size: 24px;
  }

  .button {
    font-size: 16px;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    height: 40px;
    width: 120px;
    padding: 4px;
  }
}

/* ===== Routes ===== */

.main-menu {
  @include flex-layout(column);
  justify-content: center;
  align-items: center;
  height: 100%;
  // background: url("resource:DivergentDreams.png");
  // background-size: cover;
  // background-position: center;

  .content {
    @include flex-layout(column);
    align-items: center;
  }

  // Workaround for lack of "gap" support
  .content > *:not(:first-child) {
    margin-top: 48px;
  }

  .title {
    margin-top: -128px;
    margin-bottom: 128px;
    text-align: center;
    color: white;
    font-size: 64px;
    font-family: "Frankfurter";
  }

  .button {
    font-family: "Frankfurter";
  }
}

.player-healthbar {
  width: 400px;
  height: 20px;
  background: linear-gradient(90deg, white 80%, $hp-color-faint 80%, $hp-color-faint 100%);
}

.boss-healthbar {
  width: 400px;
  height: 20px;
  background: linear-gradient(90deg, white 80%, $hp-color-faint 80%, $hp-color-faint 100%);
}

.lives {
  margin-top: 8px;

  .segments-container {
    width: 100px;
    height: 20px;

    .segments {
      width: 100%;
      height: 20px;
      display: flex;
      flex-direction: row;
      box-sizing: border-box;

      .segment {
          flex: 1; /* This makes each child flex and take equal space */
          background-color: $hp-color-faint;
          
          &.active {
            background-color: $hp-color;
          }
      }
    }

    // Workaround for lack of "gap" support
    .segments > *:not(:first-child) {
      margin-left: 8px;
    }
  }
}

.hud {
  @include flex-layout(column);
  height: 100%;

  .fullscreen-overlay {
    position: absolute;
    width: 100%;
    height: 100%;

    .reticle {
      position: absolute;
      left: 960px;

      .cooldowns-container {
        position: absolute;
        top: 50%;
        left: 50%;

        .cooldowns {
          position: relative;
          transform: translate(-50%, -50%);
          width: 350px;
          height: 350px;
          border-radius: 50%;
          overflow: hidden;

          background: conic-gradient(transparent 0, transparent 22%, white 22%, white 40%, transparent 40%, transparent 60%, white 60%, white 78%, transparent 78%);
          mask: radial-gradient(circle, transparent 68%, black 100%);
        }
      }

      .decoration {
        position: absolute;
        top: 50%;
        left: 50%;

        .circle-outer {
          position: absolute;
          width: 320px;
          height: 320px;
          border: 4px solid $crosshair-color-faint;
          border-radius: 50%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
    
        .circle-outer-2 {
          position: absolute;
          width: 304px;
          height: 304px;
          border: 2px solid $crosshair-color-faint;
          border-radius: 50%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
    
        .circle-inner {
          position: absolute;
          width: 24px;
          height: 24px;
          border: 2px solid rgba(255, 255, 255, 0.1);
          border-radius: 50%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .crosshair {
        position: absolute;
        top: 50%;
        left: 50%;
  
        .crosshair-top {
          position: absolute;
          width: $crosshair-width;
          height: $crosshair-length;
          background-color: $crosshair-color;
          transform: translate(-50%, -50%);
          top: -$crosshair-center-offset;
        }
  
        .crosshair-down {
          position: absolute;
          width: $crosshair-width;
          height: $crosshair-length;
          background-color: $crosshair-color;
          transform: translate(-50%, -50%);
          top: $crosshair-center-offset;
        }
  
        .crosshair-right {
          position: absolute;
          width: $crosshair-length-horizontal;
          height: $crosshair-width;
          background-color: $crosshair-color;
          transform: translate(-50%, -50%);
          left: $crosshair-center-offset;
        }
  
        .crosshair-left {
          position: absolute;
          width: $crosshair-length-horizontal;
          height: $crosshair-width;
          background-color: $crosshair-color;
          transform: translate(-50%, -50%);
          left: -$crosshair-center-offset;
        }
      }
    }
  }
}

.boss-stats {
  align-items: flex-end;
}

.pause-menu {
  height: 100%;

  .text {
    font-size: 36px;
  }

  .container {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 12px;
    color: white;

    .button {
      font-size: 32px;
    }
  }

  // Workaround for lack of "gap" support
  .container > *:not(:first-child) {
    margin-top: 24px;
  }

  .black-bar {
    @include flex-layout(column);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 0.5));
  }
  
  .gradient-rule {
    height: 1px;
    width: 100%;
    background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.8), transparent);
  }
}

.gameover {
  @include flex-layout(row);
  // justify-content: center;
  // align-items: center;
  height: 100%;
  padding-left: 128px;
  padding-top: 128px;
  padding-right: 128px;

  .right-column {
    align-items: flex-end;
  }

  .title {
    // margin-top: -128px;
    margin-bottom: 24px;
    // text-align: center;
    color: white;
    font-size: 92px;
  }

  .subtext {
    color: white;
    font-size: 42px;
    margin-bottom: 64px;
  }

  .body-text {
    color: white;
    font-size: 32px;
    margin-bottom: 24px;
  }

  .score {
    font-size: 40px;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
  }

  .latest {
    margin-top: -64px;
    font-size: 64px;
  }
  
  .ranking {
    margin-bottom: 64px;
    font-size: 64px;
  }

  .mainMenuButton {
    margin-top: 12px;
    font-size: 48px;
    width: 420px;
  }
}

.gameoverLose {
  @include flex-layout(row);
  // justify-content: center;
  // align-items: center;
  height: 100%;
  padding-left: 128px;
  padding-top: 128px;
  padding-right: 128px;
  background-color: rgba(0, 0, 0, 0.1);

  .right-column {
    align-items: flex-end;
  }

  .title {
    // margin-top: -128px;
    margin-bottom: 24px;
    // text-align: center;
    color: white;
    font-size: 92px;
  }

  .subtext {
    color: white;
    font-size: 42px;
    margin-bottom: 64px;
  }

  .body-text {
    color: white;
    font-size: 32px;
    margin-bottom: 24px;
  }

  .mainMenuButton {
    margin-top: 12px;
    font-size: 48px;
    width: 420px;
  }
}